/*�ֲ�ͼ��С*/
 .carousel-inner{
        width: 100%;
        height: 380px;
    }
/*������*/
    .form-search{
        height: 50px;
        width: 600px;
        margin:50px auto;
        
    }
    .form-search span{
        
        width:20%;
    }
    #search-text{
        width:600px;
    }
/*�����ӳ��Ӱ��� */
    .recent-title{
        text-align: center;
    }
/*����logo*/
    .main-title{
        height: 3em;
        width: 25%;
        margin: 5px auto;
    }
    .main-title img{
        width: 30em;
       
    }
/*Recent Film*/ 
       .recentFilm  img{
              height: 500px;
              width: 100%;
       }
       .film-title{
              margin: 5px auto;
       }
       /*.division{*/
       /*       margin: 8px 25em;*/
       /*}*/
       .film-detail{
              text-align: center;
       }
/*Log-and-Reg*/
.Log-and-Reg{
       float: right;
}
/*footer*/
.foot-container{
       margin-top: 3em;
       background-color: #F2F2F2;
}
.info {
       height:1px;
       border:none;
       border-top:1px solid #555555;"
}
span{
	font-family:"KaiTi,Times New Roman",Georgia,Serif;
	font-size:1.5em;
	font-weight: bolder;
}
.direactor{
	font-family:"KaiTi,Times New Roman",Georgia,Serif;
	font-size:1em;
	font-weight: normal;
}
.top{
	text-align: center;
}
