/*±ÍÃ‚logo*/
    .main-title{
        height: 5em;
        width: 25%;
        margin: 5px auto;
    }
     .main-title img{
        width: 30em;
    }
/*left-side-bg*/
.first-level-container{
    clear: both;
}
    .bg img{
        height: 50em;
        width:100%;
    }
    .content1{
        background-color: balck;
    }
    .register-form img{
        margin-top: 19.3em;
    }
/*right-side-table*/
#register-table{
    clear: right;
}
/*footer*/
.info {
       height:1px;
       border:none;
       border-top:1px solid #555555;"
}
.foot-container{
       background-color: #F2F2F2;
}