@CHARSET "UTF-8";
/*标题logo*/
.main-title {
	height: 3em;
	width: 25%;
	margin: 5px auto;
}

.main-title img {
	width: 90%;
}

#topDiv {
	margin-top: 15px;
	height: 60px;
	width: 30%;
}

#filmsDiv {
	margin-top: 20px;
	width: 80%;
	/* 	background: #eaeaea; */
}
.listDiv{
	height: 150px;
	width: 33%;
	float: left;
	margin-bottom:15px;
}
.moviesDiv{
	height: 100%;
	width: 40%;
	float: left;
}
.mainImg{
	height:100%;
	width: 90%;
}
.moviesInfo{
	height: 100%;
	width: 60%;
	float: left;
	padding-top:10px;
}
b {
	font-size: 12px;
}

span {
	font-size: 12px;
}
/*footer*/
.foot-container {
	margin-top: 3em;
	background-color: #F2F2F2;
}

.info {
	height: 1px;
	border: none;
	border-top: 1px solid #555555;
}