@CHARSET "UTF-8";
/*标题logo*/
.main-title {
	height: 3em;
	width: 25%;
	margin: 5px auto;
}

.main-title img {
	width: 90%;
}

#topDiv {
	height: 470px;
	width: 70%;
}
#mainImgDiv{
	height: 290px;
	width: 30%;
	float: left;
}
#mainImg {
	width: 85%;
	height: 90%;
}

#movieInfoDiv{
	height: 290px;
	width: 35%;
	float: left;
 	padding-right: 20px; 
}

#ratingDiv{
	height: 450px;
	width:30%;
	float: left;
	border-left: 1px solid #eaeaea;
	padding-left: 10px;
}
#midDiv {
	width: 70%;
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
}
.photos{
	width: 30%;
	margin-bottom:10px;
	margin-left:5px;
}
#div1 {
	width: 70%;
	height: 300px;
}
#div2 {
	width: 70%;
	height: 300px;
}

#GuestULikeDiv {
	float: left;
	text-align: center;
	width: 60%;
	height:100%;
}
#GuestULikeDivBasedUser {
	float: left;
	text-align: center;
	width: 60%;
	height:100%;
}


#BottomDiv {
	height: 200px;
	width: 70%;
}

.guestDivs {
	margin-top: 10px;
	float: left;
	width: 20%;
	height: 45%;
}

span {
	margin-top: 30px;
}
/*footer*/
.foot-container {
	margin-top: 3em;
	background-color: #F2F2F2;
}

.info {
	height: 1px;
	border: none;
	border-top: 1px solid #555555;
}