<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MatrixCMapper">

	<update id="updateMatrixCWithCos_similarity" parameterType="java.util.Map">  
        UPDATE matrixC  
            SET cos_similarity = #{cos_similarity}
         WHERE eida = #{eida} and eidb = #{eidb}
	</update>
	
	<select id="selectAllMatrixC" resultType="com.entity.MatrixC">
			select *
			from matrixC
	</select>
	
	<select id="selectMatrixCByEidA" resultType="com.entity.MatrixC">
			select *
			from matrixC
			where eida = #{eida}
	</select>
	
	<select id="selectMatrixCByEidAAndEidB" resultType="com.entity.MatrixC">
			select *
			from matrixC
			where eida = #{eida} and eidb = #{eidb}
	</select>
	
	<update id="updateMatrixCWithCountByEidAAndEidB" parameterType="java.util.Map">  
        UPDATE matrixC  
            SET count = #{count}
         WHERE eida = #{eida} and eidb = #{eidb}
	</update>
	
	<insert id="insertMatrixC" parameterType="com.entity.MatrixC">
			insert into MatrixC (eida,eidb,counter)
			values(#{eida},#{eidb},#{counter})
	</insert>
	
</mapper>