<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EBookMapper">

	<!-- 爬虫使用 -->
	<insert id="insertEBook" parameterType="com.entity.EBook">
			insert into ebook (eid,ISBN,ename,author,translator,category,
			publishingHouse,provider,words,imgAddress,infoAddress,scoreAddress,
			description,ratingValue,classifyMain,bestRating,worstRating,reviewCount)
			values(#{eid},#{ISBN},#{ename},#{author},#{translator},#{category},
			#{publishingHouse},#{provider},#{words},#{imgAddress},#{infoAddress},#{scoreAddress},
			#{description},#{ratingValue},#{classifyMain},#{bestRating},#{worstRating},#{reviewCount})
	</insert>
	<select id="selectAllEBook" resultType="com.entity.EBook">
			select *
			from ebook
	</select>

	<!-- 电子书基本信息查询 -->
	<select id="selectEBookByEid" resultType="com.entity.EBook">
			select *
			from ebook
			where eid = #{eid}
	</select>
	<select id="selectEBookLimitByClassifyMain" parameterType="java.util.Map" resultType="com.entity.EBook">
			select *
			from ebook
			where classifyMain=#{classifyMain}
			order by ${orderCondition} ${order}
			limit #{start},#{size}
	</select>
	<select id="selectEBookByClassifyMainCount" parameterType="java.util.Map" resultType="int">
	    	select count(eid)
			from ebook
			where classifyMain=#{classifyMain}
			order by ${orderCondition} ${order}
	</select>
	
	<!-- 电子书查询 -->
	<select id="selectEBookByKeyword" parameterType="java.util.Map" resultType="com.entity.EBook">
	    select *
		from ebook
		where
		ename like '%${keyword}%'
		or author like '%${keyword}%'
		or publishingHouse like '%${keyword}%'
		or provider like '%${keyword}%'
		order by ${orderCondition} ${order}
		limit #{start},#{size}
	</select>
	<select id="selectEBookByKeywordCount" parameterType="java.util.Map" resultType="int">
	    select count(eid)
		from ebook
		where ename like '%${keyword}%'
		or author like '%${keyword}%'
		or publishingHouse like '%${keyword}%'
		or provider like '%${keyword}%'
		order by ${orderCondition} ${order}
	</select>
	
	<!-- 电子书高级查询 -->
	<select id="selectEBookByCondition" parameterType="java.util.Map" resultType="com.entity.EBook">
	    select *
		from ebook
		<where>
			<if test="eid != null">
				and eid = #{eid}
			</if>
			<if test="ISBN != null">
				and ISBN = #{ISBN}
			</if>
			<if test="ename != null">
				and ename like '%${ename}%'
			</if>
			<if test="author != null">
				and author like '%${author}%'
			</if>
			<if test="translator != null">
				and translator like '%${translator}%'
			</if>
			<if test="publishingHouse != null">
				and publishingHouse like '%${publishingHouse}%'
			</if>
			<if test="provider != null">
				and provider like '%${provider}%'
			</if>
			<if test="classifyMain != null">
				and classifyMain like '%${classifyMain}%'
			</if>
		</where>
		order by ${orderCondition} ${order}
		limit #{start},#{size}
	</select>
	
	<!-- 电子书排行榜制作 -->
	<select id="makeebooktop" resultType="int">
	    select count(*) from ebook
	</select>
	
</mapper>