<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RatingList">

	<!-- 爬虫使用 -->
	<insert id="insertRatingList" parameterType="com.entity.RatingList">
			insert into ratinglist (eid,uid,ratingValue,rdescribe)
			values(#{eid},#{uid},#{ratingValue},#{rdescribe})
	</insert>

	<!-- 基本信息查询 -->
	<select id="selectAllRatingList" resultType="com.entity.RatingList">
			select * from ratinglist
	</select>
	
	<select id="selectRatingListByEidAndUid" resultType="com.entity.RatingList">
			select *
			from ratinglist
			where eid = #{eid} and uid = #{uid}
	</select>
	
	<!-- 返回评论列表 -->
	<resultMap type="com.entity.RatingList" id="ratingListResultMap">
	<id column="rid" property="rid"/>
	<result column="eid" property="eid"/>
	<result column="uid" property="uid"/>
	<result column="ratingValue" property="ratingValue"/>
	<result column="rdescribe" property="rdescribe"/>
	<!-- 表示进行关联查询单条记录 -->
	<association property="user" javaType="com.entity.User">
		<id column="uid" property="uid"/>
		<result column="uname" property="uname"/>
	</association>
	</resultMap>
	
	<select id="selectRatingListByEid" resultMap="ratingListResultMap">
			select *
			from ratinglist natural join user
			where eid = #{eid}
	</select>
	
	<select id="selectRatingListByEidAndRatingValue" parameterType="java.util.Map" resultMap="ratingListResultMap">
			select *
			from ratinglist natural join user
			where eid = #{eid} and #{ratingValue} >= ratingValue
	</select>
	
	<select id="selectRatingListByUidAndRatingValue" parameterType="java.util.Map" resultMap="ratingListResultMap">
			select *
			from ratinglist natural join user
			where uid = #{uid}  and #{ratingValue} >= ratingValue
	</select>
	
	<select id="selectRatingListLimitByEid" parameterType="java.util.Map" resultMap="ratingListResultMap">
			select *
			from ratinglist natural join user
			where eid = #{eid}
			order by ${orderCondition} ${order}
			limit #{start},#{size}
	</select>
	<select id="selectRatingListLimitByEidCount" resultType="int">
	    	select count(rid)
			from ratinglist
			where eid = #{eid}
	</select>
	
	<select id="selectRatingListByClassifyMain" resultMap="ratingListResultMap">
			select *
			from ratinglist rl, ebook eb
			where rl.eid=eb.eid and classifyMain = #{classifyMain}
	</select>
	
</mapper>